[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorflow = "*"
keras = "*"

[packages]
numpy = "*"
requests = "*"
nltk = "*"

[requires]
python_version = "3.7"
